.btn-base {
  width: 120px;
  border-radius: 6px !important;
  background: rgb(241, 77, 88);
  background: linear-gradient(99deg,
      rgba(241, 77, 88, 1) 30%,
      rgba(237, 28, 41, 1) 100%);
  box-shadow: none;
  font-family: 'Noto Sans Lao', sans-serif !important;
}

.btn-search {
  border-radius: 6px !important;
  font-family: 'Noto Sans Lao', sans-serif !important;
  width: 120px;
  box-shadow: none !important;
  display: flex;
  padding: 0.875em 2em;
  background: linear-gradient(90deg, #3a4259, transparent) #3a4259 !important;
  font-family: inherit;
  color: #fff;
  text-decoration: none;
  transition: background-color 1s;
  place-content: center;
}

.btn-search:hover,
.btn-search:focus {
  background-color: #596588 !important;
  color: #fff;
}

.btn-view {
  background-color: transparent !important;
  height: 27px;
  /* width: 25px; */
  box-shadow: none !important;
}

.btn-edit {
  /* margin-left: 0rem !important; */
  background-color: transparent !important;
  height: 27px;
  /* width: 40px; */
  box-shadow: none !important;
  min-width: 34px !important;
}

.btn-save {
  font-family: 'Noto Sans Lao', sans-serif !important;
  font-size: 16px;
  box-shadow: none !important;
  height: 32px !important;
  width: 90px;
  color: #fff;
  border: none;
  background: rgb(241, 77, 88);
  background: linear-gradient(99deg,
      rgba(241, 77, 88, 1) 30%,
      rgba(237, 28, 41, 1) 100%);
}

.btn-cancel {
  font-family: 'Noto Sans Lao', sans-serif !important;
  font-size: 16px;
  box-shadow: none !important;
  font-weight: bold !important;
  height: 32px !important;
  width: 90px;
  color: #627175 !important;
  border: none;
  background: #dddddd !important;
}

.btn-group {
  font-family: 'Noto Sans Lao', sans-serif !important;
  font-size: 16px;
  box-shadow: none !important;
  font-weight: bold !important;
  height: 32px !important;
  width: 130px;
  color: #6079f6 !important;
  border: 1px solid #6079f6 !important;
  background: #fff !important;
}

.btn-package {
  font-family: 'Noto Sans Lao', sans-serif !important;
  font-size: 16px;
  box-shadow: none !important;
  font-weight: bold !important;
  height: 32px !important;
  width: 130px;
  color: #6079f6 !important;
  border: 1px solid #6079f6 !important;
  background: #fff !important;
}

.btn-upload-att {
  font-family: 'Noto Sans Lao', sans-serif !important;
  font-size: 16px;
  /* font-weight: bold !important; */
  background-color: #fafafc;
  border-radius: 0.4rem;
  border: 1px solid #ddd;
  padding: 0.3em 1em;
  color: #2d3436;
  height: 28px;
  text-align: center;
}

.btn-upload-att:hover {
  color: #fff;
  background-color: #6079f6;
  transition: 0.1s;
}

.btn-upload-att:hover path {
  fill: #fff;
  transition: 0.1s;
}

.btn-view-group {
  font-family: 'Noto Sans Lao', sans-serif !important;
  font-size: 0.875rem;
  font-weight: bold !important;
  color: #6079f6 !important;
  background: #fff !important;
}

.btn-add-phone {
  width: 150px;
  font-family: 'Noto Sans Lao', sans-serif !important;
  font-size: 0.875rem;
  font-weight: bold !important;
  color: #fff !important;
  background: #f14d58 !important;
  box-shadow: none !important;
  border-top-right-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.btn-show {
  font-family: 'Noto Sans Lao', sans-serif !important;
  color: #3352f3;
  padding-left: 0.2rem;
}

.icon-show {
  padding-top: 0.2rem;
  padding-right: 0.3rem;
}

.btn-back {
  display: flex;
  align-self: flex-end;
  text-decoration: none;
  color: #6079f6;
  font-size: 14px;
  padding-bottom: 12px;
}

.btn-export {
  box-shadow: none !important;
  text-transform: none !important;
  background-color: #E9F7EF !important;
  color: #6079f6 !important;
  font-size: 13px !important;
  border-radius: 0.5rem !important;
  transition: 0.1s;
}